<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>Document</title>
</head>

<body>
  <main>
    <div class="container">
      <div class="row justify-content-center">

        <div class="">
          <div class="container-fluid">
            <div class="row">
              <div class="first-row-first-title">
                Width of raw material:
              </div>

              <div class="s50">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                (mm).
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                The batch
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="second-row-first-title ">
                coil(s), weight
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                (t).
              </div>
            </div>
            <div class="row">
              <div class="third-row-first-title ">
                One coil weight approximately
              </div>
              <div class="s50 ">
                19
              </div>
              <div class="s50 ">
                (t).
              </div>
            </div>
            <div class="row">
              <div class="fourth-row-first-title">
                Edge min 2*
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                max 2*
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                (mm).
              </div>
            </div>
            <div class="row">
              <div class="fifth-row-first-title">
                Defect:
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                (%).
              </div>
            </div>
            <div class="row">
              <div class="sixth-row-title ">
                
              </div>
            </div>
            <div class="row">
              <div class="sixth-row-title ">
                
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                Dimension
              </div>
              <div class="s30 ">
                (pcs)
              </div>
              <div class="s50 ">
                (mm)
              </div>
              <div class="s50 ">
                (mm)
              </div>
              <div class="s50 ">
                (t)
              </div>
              <div class="s50 ">
                (%)
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                #1
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
                </div>
              <div class="s50 ">
                0,0
              </div>
              <div class="s50 ">
                0,00
              </div>
              <div class="s50 ">
                0
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                #2
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
                </div>
              <div class="s50 ">
                0,0
              </div>
              <div class="s50 ">
                0,00
              </div>
              <div class="s50 ">
                0
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                #3
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
                </div>
              <div class="s50 ">
                0,0
              </div>
              <div class="s50 ">
                0,00
              </div>
              <div class="s50 ">
                0
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                #4
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
                </div>
              <div class="s50 ">
                0,0
              </div>
              <div class="s50 ">
                0,00
              </div>
              <div class="s50 ">
                0
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                #5
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="19" th:field="*{head}">
                </form>
                </div>
              <div class="s50 ">
                0,0
              </div>
              <div class="s50 ">
                0,00
              </div>
              <div class="s50 ">
                0
              </div>
            </div>
            <div class="row">
              <div class="s60 ">
                Sum:
              </div>
              <div class="s30 ">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="hundred" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="s50 ">

              </div>
              <div class="s50 ">
                0,0
              </div>
              <div class="s50 ">
                0,00
              </div>
              <div class="s50 ">
                0
              </div>
            </div>
            <div class="row">
              <div class="eight-row-title ">
                Remains from width:
              </div>
              <div class="s50 ">
                1005,0
              </div>
              <div class="s50 ">
                (mm).
              </div>
            </div>
          </div>
        </div>



        <div  class="">
          <div class="container-fluid">
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            <div class="row">
              <div class="s60 border">
                Dimension
              </div>
              <div class="s30 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
              <div class="s50 border">

              </div>
            </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>
</body>
<!--body>
  <main>
    <div class="calculator">
      <table>
      <tr>
        <td class="s50 border">Width of raw material</td>
        <td class="s50 border"><form action="#" th:action="@{test}" th:object="${message}" method="POST">
          <label for=""></label>
          <input type="text" th:field="*{head}">
        </form></td>

      </div>
    </tr>
      </table>
    </div>
    <div class="calculator">

    </div>
    <div class="calculator"></div>
  </main>
</body-->

</html>