<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>Document</title>
</head>

<body>
  <main>
    <div class="container">
      <div class="row justify-content-center">

        <div class="">
          <div class="container-fluid">
            <div class="row font-weight-bold">
              <div class="label_15_9 text-right">
                Width of raw material
              </div>

              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                (mm).
              </div>
            </div>
            <div class="row font-weight-bold">
              <div class="label_5">
                The batch
              </div>
              <div class="label_2_5">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="label_8_4 text-center">
                coil(s), weight
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                (t).
              </div>
            </div>
            <div class="row font-weight-bold">
              <div class="label_15_9 text-center">
                One coil weight approximately
              </div>
              <div class="label_4_2 text-center">
                19
              </div>
              <div class="label_4_2">
                (t).
              </div>
            </div>
            <div class="row font-weight-bold">
              <div class="label_7_5 text-center">
                Edge min 2 *
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2 text-center">
                max 2 *
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                (mm).
              </div>
            </div>
            <div class="row font-weight-bold">
              <div class="label_15_9 text-right">
                Defect
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="19" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                (%).
              </div>
            </div>
            <div class="row">
              <div class="label_24_3">
                
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_5">
                Dimension
              </div>
              <div class="label_2_5">
                (pcs)
              </div>
              <div class="label_4_2">
                (mm)
              </div>
              <div class="label_4_2">
                (mm)
              </div>
              <div class="label_4_2">
                (t)
              </div>
              <div class="label_4_2">
                (%)
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #1
              </div>
              <div class="label_2_5">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="888.8" th:field="*{head}">
                </form>
                </div>
              <div class="label_4_2 font-weight-normal">
                0,0
              </div>
              <div class="label_4_2 font-weight-normal">
                0,00
              </div>
              <div class="label_4_2 font-weight-normal">
                0
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #2
              </div>
              <div class="label_2_5">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="888.8" th:field="*{head}">
                </form>
                </div>
              <div class="label_4_2 font-weight-normal">
                0,0
              </div>
              <div class="label_4_2 font-weight-normal">
                0,00
              </div>
              <div class="label_4_2 font-weight-normal">
                0
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #3
              </div>
              <div class="label_2_5">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="888.8" th:field="*{head}">
                </form>
                </div>
              <div class="label_4_2 font-weight-normal">
                0,0
              </div>
              <div class="label_4_2 font-weight-normal">
                0,00
              </div>
              <div class="label_4_2 font-weight-normal">
                0
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #4
              </div>
              <div class="label_2_5">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="888.8" th:field="*{head}">
                </form>
                </div>
              <div class="label_4_2 font-weight-normal">
                0,0
              </div>
              <div class="label_4_2 font-weight-normal">
                0,00
              </div>
              <div class="label_4_2 font-weight-normal">
                0
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #5
              </div>
              <div class="label_2_5">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="18" th:field="*{head}">
                </form>
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="888.8" th:field="*{head}">
                </form>
                </div>
              <div class="label_4_2 font-weight-normal">
                0,0
              </div>
              <div class="label_4_2 font-weight-normal">
                0,00
              </div>
              <div class="label_4_2 font-weight-normal">
                0
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_5">
                Sum
              </div>
              <div class="label_2_5">
                18
              </div>
              <div class="label_4_2">

              </div>
              <div class="label_4_2">
                0,0
              </div>
              <div class="label_4_2">
                0,00
              </div>
              <div class="label_4_2">
                0
              </div>
            </div>
            <div class="row font-weight-bold">
              <div class="label_15_9 text-right pr-2">
                Remains from width
              </div>
              <div class="label_4_2 text-center border">
                1005,0
              </div>
              <div class="label_4_2 text-center">
                (mm).
              </div>
            </div>
            <div class="row">
              <div class="label_24_3">

              </div>
            </div>
          </div>
        </div>



        <div  class="">
          <div class="container-fluid">
            <div class="row text-center font-weight-bold">
              <div class="label_24_3">
                Finished coil(s)
              </div>
            </div>
            <div class="row font-weight-bold">
              <div class="label_11_7 text-right">
                Inner diameter
              </div>
              <div class="label_4_2">
                <form action="#" th:action="@{test}" th:object="${message}" method="POST">
                  <label for=""></label>
                  <input type="text" class="input_window" placeholder="500" th:field="*{head}">
                </form>
              </div>
              <div class="label_8_4">
                (mm).
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_7_5">
                Coil(s) picking
              </div>
              <div class="label_4_2">
                1/1
              </div>
              <div class="label_4_2">
                1/2
              </div>
              <div class="label_4_2">
                1/3
              </div>
              <div class="label_4_2">
                1/4
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_7_5">
                
              </div>
              <div class="label_4_2">
                (mm)
              </div>
              <div class="label_4_2">
                (mm)
              </div>
              <div class="label_4_2">
                (mm)
              </div>
              <div class="label_4_2">
                (mm)
              </div>
            </div>
            <div class="row text-center">
              <div class="label_7_5 font-weight-bold">
                Outer diameter
              </div>
              <div class="label_4_2">
                8888
              </div>
              <div class="label_4_2">
                8888
              </div>
              <div class="label_4_2">
                8888
              </div>
              <div class="label_4_2">
                8888
              </div>
            </div>
            <div class="row text-center">
              <div class="label_7_5 font-weight-bold">
                Body thickness
              </div>
              <div class="label_4_2">
                8888
              </div>
              <div class="label_4_2">
                8888
              </div>
              <div class="label_4_2">
                8888
              </div>
              <div class="label_4_2">
                8888
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_5">
                Dimension
              </div>
              <div class="label_2_5">
                (mm)
              </div>
              <div class="label_4_2">
                (t)
              </div>
              <div class="label_4_2">
                (t)
              </div>
              <div class="label_4_2">
                (t)
              </div>
              <div class="label_4_2">
                (t)
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #1
              </div>
              <div class="label_2_5">
                888.8
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #2
              </div>
              <div class="label_2_5">
                888.8
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #3
              </div>
              <div class="label_2_5">
                888.8
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #4
              </div>
              <div class="label_2_5">
                888.8
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
            </div>
            <div class="row text-center">
              <div class="label_5 font-weight-bold">
                #5
              </div>
              <div class="label_2_5">
                888.8
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
              <div class="label_4_2">
                0.00
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_15_9 text-right pr-2">
                Waste edge 2 *
              </div>
              <div class="label_4_2 border">
                507.5
              </div>
              <div class="label_4_2">
                (mm).
              </div>
            </div>
            <div class="row text-center font-weight-bold">
              <div class="label_15_9 text-right pr-2">
                Sum waste
              </div>
              <div class="label_4_2 border">
                10.0
              </div>
              <div class="label_4_2">
                (t).
              </div>
            </div>
            <div class="row">
              <div class="label_24_3">

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>
</body>
<!--body>
  <main>
    <div class="calculator">
      <table>
      <tr>
        <td class="s50 border">Width of raw material</td>
        <td class="s50 border"><form action="#" th:action="@{test}" th:object="${message}" method="POST">
          <label for=""></label>
          <input type="text" th:field="*{head}">
        </form></td>

      </div>
    </tr>
      </table>
    </div>
    <div class="calculator">

    </div>
    <div class="calculator"></div>
  </main>
</body-->

</html>